@model BiofuelSouth.ViewModels.ResultViewModel

<div>
    <h4>ResultViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectLife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StorageLossFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StorageLossFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoragePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoragePercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StorageTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StorageTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualProduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualProduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageCostPerAcre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageCostPerAcre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageProdutivityPerAcre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageProdutivityPerAcre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequireStorage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequireStorage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BiomassPriceAtFarmGate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiomassPriceAtFarmGate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageAnnualCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageAnnualCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageAnnualYield)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageAnnualYield)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
