@using BiofuelSouth.Enum
@using BiofuelSouth.Helpers
@using BiofuelSouth.Models
@using BiofuelSouth.Resources
@model General


@{
	ViewBag.Title = String.Format( "Project Information: {0}", GeneralResource.DSS_Tittle_Display );
}
@using ( Html.BeginForm() )
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary( true, "", new { @class = "text-danger" } )

	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>DSS Input</h4>
				</div>
				<div class="panel-body">

					<div class="col-md-6 form-group">
						@Html.LabelFor( model => model.State, new { @class = "control-label" } )<span class="required">Required</span>
						<a class="" data-content="<p>State of the production of biofuel crop.</p>" data-placement="center" data-toggle="popover" data-trigger="focus" href="#" rel="popover" tabindex="0" title="State">
							<span class="glyphicon glyphicon-question-sign"></span>
						</a>
						@Html.DropDownListFor( model => model.State, Model.StateList, "Select State", new { @class = "form-control", id = "state" } )
						@Html.ValidationMessageFor( model => model.State, "", new { @class = "text-danger" } )
					</div>
					<div class="col-md-6 form-group">
						@Html.LabelFor( model => model.County, new { @class = "control-label" } )<span class="required">Required</span>
						<a href="#" rel="popover" class="" data-toggle="popover" tabindex="0" data-trigger="focus"
						   data-placement="center" title="County" data-content="<p>County of production.</p>">
							<span class="glyphicon glyphicon-question-sign"></span>
						</a>
						@Html.DropDownListFor( model => model.County, Model.CountyList, "Select County", new { @class = "form-control", name = "county", id = "county" } )
						@Html.ValidationMessageFor( model => model.County, "", new { @class = "text-danger" } )
					</div>
					<div class="col-md-6 form-group">
						@Html.LabelFor( model => model.Category, new { @class = "control-label" } )<span class="required">Required</span>
						<a href="#" rel="popover" class="" data-toggle="popover" tabindex="0" data-trigger="focus"
						   data-placement="center" title="Crop category" data-content="<p>Select the type of biofuel crops. If you do not find a crop in the list, please contact us.</p>">
							<span class="glyphicon glyphicon-question-sign"></span>
						</a>
						@*@Html.DropDownListFor(model => model.Category, Constants.GetCategory(), "Select Crop Category", new {@class = "form-control"})*@

						@Html.DropDownListFor( model => model.Category, EnumHelper.GetSelectList( typeof( CropType ) ), "Select Crop", new { @class = "form-control" } )

						@Html.ValidationMessageFor( model => model.Category, "", new { @class = "text-danger" } )
					</div>
					<div class="col-md-6 form-group">

						@Html.LabelFor( model => model.ProjectSize, new { @class = "control-label" } )<span class="required">Required</span>
						<a href="#" rel="popover" class="" data-toggle="popover" tabindex="0" data-trigger="focus"
						   data-placement="center" title="Help" data-content="<p>Enter size of the potential project. The area must be in acres. If you do not yet know the size, use any reasonable acre.</p>">
							<span class="glyphicon glyphicon-question-sign"></span>
						</a>
						@Html.TextBoxFor( model => model.ProjectSize, new { type = "number", min = "1", @class = "form-control" } )
						@Html.ValidationMessageFor( model => model.ProjectSize, "", new { @class = "text-danger" } )
					</div>
					<div class="col-md-6 form-group">
						@Html.LabelFor( model => model.ProjectLife, new { @class = "control-label" } )<span class="required">Required</span>
						<a href="#" rel="popover" class="" data-toggle="popover" tabindex="0" data-trigger="focus"
						   data-placement="left" title="Project Duration" data-content="<p>Duration of project expressed as total number of years
                    between first plantation and final harvest with intermediate harvests in between. The number must a whole number i.e. 1 or 2 or 10 for a year.</p>">
							<span class="glyphicon glyphicon-question-sign"></span></a>
						@Html.TextBoxFor( model => model.ProjectLife, new { @class = "form-control", type = "number", min = "1" } )
						@Html.ValidationMessageFor( model => model.ProjectLife, "", new { @class = "text-danger" } )
					</div>
					<div class="col-md-6 form-group">
						@Html.LabelFor( model => model.BiomassPriceAtFarmGate, new { @class = "control-label" } )
						<a href="#" rel="popover" class="" data-toggle="popover" tabindex="0" data-trigger="focus"
						   data-placement="left" title="Farm Gate Price" data-content="<p>The price of the product at which it is sold by the farm (the farm gate price).</p>">
							<span class="glyphicon glyphicon-question-sign"></span>
						</a>
						@Html.EditorFor( model => model.BiomassPriceAtFarmGate, new { htmlAttributes = new { @class = "form-control" } } )
						@Html.ValidationMessageFor( model => model.BiomassPriceAtFarmGate, "", new { @class = "text-danger" } )
					</div>
					<div class="col-md-6 form-group">
						@Html.LabelFor( model => model.LandCost, new { @class = "control-label" } )<span class="required">Required</span>
						<a href="#" rel="popover" class="" data-toggle="popover" tabindex="0" data-trigger="focus"
						   data-placement="left" title="Land Cost" data-content="<p>Annual cost of land expressed as  $/acre/year.</p>">
							<span class="glyphicon glyphicon-question-sign"></span>
						</a>
						@Html.EditorFor( model => model.LandCost, new { htmlAttributes = new { @class = "form-control" } } )
						@Html.ValidationMessageFor( model => model.LandCost, "", new { @class = "text-danger" } )
					</div>
					<div class="col-md-12 form-group text-center">
						<br />
						@Html.ActionLink( "Previous", "NewDSS", "DSS", null, new { @class = "btn btn-warning" } )&nbsp;&nbsp;
						<button type="reset" value="Reset" class="btn btn-primary">Reset</button>&nbsp;&nbsp;
						<input type="submit" value="Proceed" class="btn btn-success" />
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 form-group">
			<div class="panel panel-default">
				<div class="panel-heading instruction-panel-heading">
					<h4>Instructions: Project parameters</h4>
				</div>
				<div class="panel-body Instruction-panel-body">
					<p>This step is the first step to run Biofuel Decision Support Step</p>
					<p>Start with selecting a State. If one State is not listed, the BDSS is not available for that state. </p>
					<p>
						Upson State selection, available counties will be populated in the County. If one or more County is not avaialble, the BDSS currently does not have enough information for that county.
						In such cases, selecting a neighboring county is suggested.
					</p>
					<p>Select crop category. BDSS can support a number of crops and new crop categories are added as need arises.</p>
					<p>Years from plantation to harvest and farm gate price are provided with some default values. </p>
					<p>The default values for years from plantation to harvest and farm gate price change if the crop type is changed. </p>
					<p>The default values for cost of land is provided for reference.</p>
					<p>Locally available accurate values can be used instead of defaults in all cases.</p>
				</div>
			</div>
		</div>
	</div>



			}
@Scripts.Render("~/Scripts/custom.js"); 
@section MyScripts {

	@*@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/jqueryval")*@
	<script type="text/javascript">
		//http://www.codeproject.com/Articles/730953/Cascading-Dropdown-List-With-MVC-LINQ-to-SQL-and-A


		function AlertWoodyCrop(crop) {

			if (crop === '@((int) CropType.Pine)' || crop === '@((int) CropType.Poplar)' || crop === '@((int) CropType.Willow)') {
				alert("You selected woody crop for which DSS has limited county level information. Price and Cost information are based on regional/national average.", 'Limited Data Availablity');

			}
		}


		$(document).ready(function() {

			if ($('#state').val() === "") {

				//$('#county').attr('selectedIndex', 0);
				populateCounty();
				//	$("#county").attr("disabled", true);
			}


			$('#Category').change(function() {
				var selectedCrop = $('#Category').val();

				AlertWoodyCrop(selectedCrop);

				if (selectedCrop === '') {
					$('#BiomassPriceAtFarmGate').val('');
				}

				if (selectedCrop === "@((int) CropType.Switchgrass)") {
					$('#BiomassPriceAtFarmGate').val(@(Constants.GetFarmGatePrice(CropType.Switchgrass)));
				} else if (selectedCrop === "@((int) CropType.Miscanthus)") {
					$('#BiomassPriceAtFarmGate').val(@(Constants.GetFarmGatePrice(CropType.Miscanthus)));
				} else if (selectedCrop === "@((int) CropType.Pine)") {
					$('#BiomassPriceAtFarmGate').val(@(Constants.GetFarmGatePrice(CropType.Pine)));
				} else if (selectedCrop === "@((int) CropType.Poplar)") {
					$('#BiomassPriceAtFarmGate').val(@(Constants.GetFarmGatePrice(CropType.Poplar)));
				} else if (selectedCrop === "@((int) CropType.Willow)") {
					$('#BiomassPriceAtFarmGate').val(@(Constants.GetFarmGatePrice(CropType.Willow)));
				}
			});

			/*	$('#State').change(function () {
	
					if ($('#State').val() === "") {
						$('#County').attr('selectedIndex', 0);
					}
	
				}); */
			$("#state").change(function() {
					if ($("#County").val() !== "Select County") {
						populateCounty();
					}

				}
			);
			//$("#summaryHead").html('<h2>Summay for Switchgrass in'+$('#county').val() + "," + $('#state').val() + '</h2>');

		});

		function populateCounty() {

			var selectedValue = $('#county').val();

			var ddlCounty = $("#county");
			var state = $("#state").val();

			if (state === "") {
				$('#County').attr('disabled', true);
				//$('#county'), attr('selectedIndex', 0);
				state = "ALL";
			}


			$.ajax({
				url: "/data/CountiesForState",
				cache: false,
				type: "GET",
				data: { state: state },

				success: function(data) {
					$("#county").empty();
					ddlCounty.append($('<option></option>').val('').html("Select County"));
					$.each(data, function(id, option) {
						ddlCounty.append($('<option></option>').val(option.id).html(option.name));
					});
					$("#county").prop("disabled", false);
					$('#county').val(selectedValue).change();
				},

				error: function() {
					alert('Failed to retrieve county.');
					$("#county").prop("disabled", true);
				}
			});
		}
	</script>
}
