@using BiofuelSouth.Models
@model Input

@if (ViewBag.Results)
{
    <div class="row" id="summaryHead">
        <h2>Summay for @Model.Category in @(Constants.CountyName(Model.County)), @Model.State</h2>
    </div>
    <div class="row table-bordered">
        <h3>Productivity and Cost</h3>
        <div>

            <table class="table table-responsive table-bordered table-striped">

                <thead>
                    <tr>
                        <th rowspan="2">Description</th>
                        <th colspan="10">Year</th>
                    </tr>
                    <tr>
                        @{
    for (int i = 0; i < Model.ProjectLife; i++)
    {
        <th>@(i + 1)</th>
    }
                        }
                    </tr>
                </thead>


                @if (Model.GetStorageLossFactor() > 0)
                {
                    <tr>
                        <td>
                            Estimated Gross Annual Production (tons/year)
                        </td>
                        @foreach (var a in Model.GetGrossProductionList())
                        {
                            <td>@Math.Round(a, 0)</td>
                        }
                    </tr>

                    <tr>
                        <td>
                            Estimated Annual Loss From Storage (tons/year)
                        </td>
                        @foreach (var a in Model.GetGrossProductionList())
                        {
                            <td>@Math.Round(a * Model.GetStorageLossFactor() *Model.StorageRequirement.StorageTime/200* Model.StorageRequirement.PercentStored /100, 0)</td>
                        }
                    </tr>
   
                }

                <tr>
                    <td>
                        Estimated Net Annual Production (tons/year)
                    </td>
                    @foreach (var a in Model.GetAnnualProductionList())
                    {
                        <td>@Math.Round(a, 0)</td>
                    }
                </tr>

            </table>

        </div>
        <p>
            <div>
                Estimated Net Annual Production (tons): @Math.Round(Model.GetAnnualProductionList().Average(), 0)

            </div>
            <div>
                Estimated Net Production (tons): @Math.Round(Model.GetAnnualProductionList().Sum(), 0)

            </div>
            <div>
                Estimated Annual Cost: @Model.GetAnnualCost().ToString("C")
            </div>
            <div>
                Estimated Annual Revennue: @Model.GetAnnualRevenue().ToString("C")
            </div>
        </p>
    </div>
    <div class="row table-bordered">

        <div id="chart">
            @{

    string url = Url.Action("ShowChart", "Chart", new { ViewBag.cacheKey });
    <img src="@url" alt="Chart Summary" />
            }
        </div>

    </div>
    <div class="row table-bordered">
        <h3>Assumptions and Parameters</h3>
        <div>
            Default values in use.
        </div>

    </div>
    <div class="row table-bordered">
        <h3>More Information</h3>
        <div>
            Suggest Steps Based on Retrieved Results
        </div>
        <div>
            Suggested Contacts
        </div>

    </div>
}
else
{
    <text>
        <legend>Instructions</legend>
        <ul>
            <li>Use the 'Green' Buttons to Select Model Components</li>
            <li>In each page, enter modify parameter in the left. Click submit to update the results.</li>
        </ul>

    </text>
}