@model BiofuelSouth.Models.ProductionCostViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Production Costs</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div id="defaultProductionCost">

            <div class="row">
                <!--- This is default cost-->
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount, new {@class = "control-label"})
                        <a href="#" rel="popover" class="" data-toggle="popover" tabindex="0" data-trigger="focus"
                           data-placement="center" title="@Html.LabelFor(m=>m.Amount)" data-content="<p>Cost of production from planting to final harvest for one rotation. Includes costs for site preparation, plantation, intermediate treatments to harvesting.</p>">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                        @Html.TextBoxFor(model => model.Amount, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Amount)
                    </div>
                </div>
            </div>
        </div>

        @if (Model.CanCustomize)
        {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox">
                        @Html.LabelFor(model => model.UseCustom, htmlAttributes: new {@class = "control-label"})
                        @Html.CheckBoxFor(model => model.UseCustom)
                        @Html.ValidationMessageFor(model => model.UseCustom, "", new {@class = "text-danger"})

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div id="CustomProductionCost" style="display: none;">
                @if (Model.ProductionCosts.Any())
                {
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Production Cost Type</th>
                            <th>@Html.LabelFor(m => m.Amount)</th>
                        </tr>
                        </thead>

                        <tbody>

                        @foreach (var c in Model.ProductionCosts)
                        {
                            <tr>
                                <td>@c.ProductionCostType</td>

                                <td>@Html.TextBoxFor(m => c.Amount)</td>
                            </tr>

                        }
                        </tbody>
                    </table>
                }

            </div>

        </div>
        }
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#UseCustom').on('change', function () {
                $('#defaultProductionCost').toggle();
                $('#CustomProductionCost').toggle();
            });
        });
    </script>
}