@using BiofuelSouth.Helpers
@using BiofuelSouth.Models
@model FactsheetViewModel

@{
    ViewBag.Title = "Factsheet";
    //HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

}

@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
    <div class="col-sm-3 form-group nopadding">
        <div class="panel panel-default">
            <div class="panel-heading instruction-panel-heading">
                Available Crops
            </div>
            <div class="panel-body Instruction-panel-body">
                <ul>
                    @foreach (var m in Model.AvailableCrops)
                    {
                        <li>

                            @Ajax.ActionLink(m.GetDisplayName(), // <-- Text to display
                 "GetFact", // <-- Action Method Name
                 new { cropType = m },
                 new AjaxOptions
                 {
                     UpdateTargetId = "CropFact", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })
                            
                        </li>

                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-9 nopadding">
	    <div id="CropFact">
		    @if (Model.CropType == null)
		    {


			    <div class="panel panel-default">
				    <div class="panel-heading">
					    <div id="CropFacts">
						    Crop Fact
					    </div>
				    </div>
				    <div class="panel-body Instruction-panel-body">
					    At present, fact sheets for the crops listed in the list to the left are available. Please click the crop on the left.
					    <br/>
					    You can also download factsheet for certain crops from this page. Please note that PDF copy of factsheets are not available for all the crops.
				    </div>
			    </div>
		    }
		    else
		    {
			    @Html.Partial("_cropFact", Model.FactItem)
		    }
	    </div>
    </div>
</div>





@Scripts.Render("~/Scripts/custom.js")
@section MyScripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")}
