@using BiofuelSouth.Helpers
@using BiofuelSouth.Models
@model FactsheetViewModel

@{
	ViewBag.Title = "Factsheet";
	//HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

}

@Html.AntiForgeryToken()
@Html.ValidationSummary( true, "", new { @class = "text-danger" } )


<div id="CropFact">
	@if ( Model.CropType == null )
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<div id="CropFacts">
					Crop Factsheets
				</div>
			</div>
			<div class="panel-body Instruction-panel-body">
				@*At present, fact sheets for the crops listed in the list to the left are available. Please click on link to crop of your
					choice.
					<br />
					You will also be able to download a PDF copy of factsheet for certain crops.*@


				<div class="row text-center">

					@foreach ( var m in Model.AvailableCrops )
					{
						var img = Constants.GetImageUrl( m );
						var imgUrl = String.Format( "<img src='{0}' alt='' class='img img-responsive' >{1}", img.Item3, m ).Replace( "~", ".." );
						<div class="col-xs-2 text-center thumbnails">
							@Ajax.HtmlActionLink( imgUrl,

								"GetFact",
								"Home",
								new { cropType = m },
								new AjaxOptions {
									UpdateTargetId = "CropFact", // <-- DOM element ID to update
									InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
									HttpMethod = "GET" // <-- HTTP method
								}, new { @class = "text-center" } )
						</div>
					}

				</div>
			</div>

		</div>
			}
			else
			{
		@Html.Partial( "_cropFact", Model.FactItem )
			}
</div>







@Scripts.Render( "~/Scripts/custom.js" )
@section MyScripts {
	@Scripts.Render( "~/Scripts/jquery.unobtrusive-ajax.min.js" )}
